/* NavBar */
.NavBar {
  overflow: hidden;
  background-color: #333;
  opacity: 95%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.NavBar a {
  float: left;
  display: block;
  color: #FAF8FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.NavBar a:hover {
  background-color: #ddd;
  color: black;
}

.NavBar a.active {
  background-color: #04AA6D;
  color: white;
}

.NavBar .MenuIcon {
  display: none;
}

.NavLogo1 {
  position: relative;
  height: 21px;
  width: 5rem;
  text-align: left;
}

.NavLogo2 {
  position: absolute;
  text-align: left;
  left: 40px;
  bottom: 0;
  font-size: 7px;
}

/* Landing */
.BigLogo {
  margin-top: 49px;
  text-align: center;
  position: relative;
  height: 300px;
}

.BigLogo1 {
  position: absolute;
  text-align: left;
  float: left;
  bottom: -142px;
  font-size: 945%;
  left: 33.2%;
  animation-name: Slide-in-left;
  animation-duration: 4s;
}

.BigLogo2 {
  position: absolute;
  font-size: 120px;
  left: 49%;
  animation-name: Slide-in-top;
  animation-duration: 2.5s;
}

.BigLogo3 {
  position: absolute;
  text-align: left;
  float: right;
  right: 31%;
  bottom: 32px;
  font-size: 350%;
  animation-name: Slide-in-right;
  animation-duration: 4s;
}

.Landing {
  width: 100%;
  height: 500px;
  background-color: #ddd;
}

.LandingPhrase {
  width: 100%;
  height: 100px;
  text-align: center;
  color: #333;
}

/* My Work Section */
.MyWork_Home {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #616161;
}

.SpaceHolder {
  width: 100%;
  height: 150px;
}

.MyWork_Home_Text {
  position: absolute;
  right: 20%;
  color: #ddd;
}

.MyWork_Home_Text a {
  float: left;
  display: block;
  text-decoration: none;
  color: #ddd;
}

#wrapper {
  position: absolute;
  left: 15%;
  width: auto;
  -webkit-perspective: 800;
  -moz-perspective: 800;
  float: left;
  z-index: 1;
}

.carrousel {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: Caroussel 40s infinite linear;
  -moz-transform-style: preserve-3d;
  -moz-animation: Caroussel 40s infinite linear;
}

.plan {
  position: absolute;
  height: 200px;
  width: 150px;
  text-align: center;
  font-size: 8em;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.7);
}

/*About Me Section*/
.AboutMe_Home {
  width: 100%;
  height: 500px;
  background-color: #ddd;
}

/* Footer */
.Foot {
  background-color: #333;
  width: 100%;
  height: 100px;
  position: relative;
}

.Social {
  position: absolute;
  top: 35px;
  left: 10px;
}
